*{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}
.flex{
    display: flex;
    justify-content: center;
}
.coverpage{
    width: 450px;
    height:760px;
    background-image: url(https://d2clawv67efefq.cloudfront.net/ccbp-static-website/arvrbg.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.box{
    background-color: white;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.div1{
    text-align: center;
}