/* div{
    display:inline;
    height: 100px;
    width: 100px;
    margin:25px;
    padding:25px;
} */
div{
    display:inline-block;
    height: 100px;
    width: 100px;
    margin:25px;
    padding:25px;
}
/* 
#a1{
    display:none;
} */
#a1{
    visibility: hidden;
}
