div{
    height: 100px;
    width:100px;
    margin:30px;
    padding:30px;
    background-color: brown;
    color: white;
    font-size: 19px;
    display:inline;
    border: 3px solid black;
}
#d2{
    position:relative;
    right:90px;
    z-index: -1;
    
}